# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\0304\派車模擬系統\AGVSim\AGVSim\Resources\ codebase based on best match to current usage at 3/13/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

